@import '../../Shared/common.scss';

.home-container{
    background-color: $light-white;
    display: grid;
    grid-template-areas: 'home-main home-main'
                        'home-second-section home-second-section'
                        'home-side-one home-side-three'
                        'home-side-two home-side-three'
                        'home-bottom-section home-bottom-section';  
}

.home-side-one{
    grid-area: home-side-one;
    background-color: #84e6f1;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 312px;
    margin: 12px; 
}

.home-side-two{
    grid-area: home-side-two;
    width: 300px;
    height: 312px;
    margin: 8px 12px; 
}

.home-side-three{
    grid-area: home-side-three;
    margin: 13px 12px 28px 12px;
    height: 648px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: $primary-color;
    text-align: center;
}

.home-bottom-section{
    grid-area: home-bottom-section;
    background-color: #efefef;
}

.home-main{
    width: 100%;
    height: auto;  
    grid-area: home-main; 
}

.home-second-section{
    margin: 12px 5px;
    grid-area: home-second-section;
    display: flex;
}

.btn-shop{
    width: 160px;
    height: 48px;
    border-radius: 24px;
    background-color: $tertary-color;
    color: $primary-color;
    font-weight: bold;
}

.btn-subscribe{
    width: 90px;
    height: 37px;
    border-radius: 24px;
    background-color: $tertary-color;
    color: $primary-color;
    font-weight: bold;
    font-size: 12px;
}

.tote-container{
    display: flex;
    margin: 0 10px;
    padding: 15px;
    background-color: $primary-color;
}

.tote-img{
    flex: 0.5;
}
.tote-text{
    margin-top: 50px;
    flex: 1;
}

.bag-heading{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: $secondary-color;
}

.para-heading{
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: $secondary-color;
}

.wow-heading{
    font-family: PlayfairDisplay-Bold;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    align-content: flex-end;
    margin: 60px auto;
}

.wow-text-one,
.wow-text-two{
    font-family: Montserrat-Bold;
    font-size: 24px;
    color: $tertary-color;
    font-weight: bold;
    letter-spacing: 0.5px;
    width: 125px;
}

.wow-text{
    margin-top: 5px;
}

.wow-text-two{
    text-transform: uppercase;
}

.bottom-container{
    width: 50%;
    margin: auto;
    text-align: center;
}

.btm-disc-text{
    color: $tertary-color;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.btm-desc-txt{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    color: $secondary-color;
    line-height: 1.5;
    letter-spacing: 1.5;
}

.form-control-email{
    width: 313px;
    height: 34px;
    border-radius: 15px;
    border: solid 0.5px #e1e1e1;
}

.register-header{
    font-family: PlayfairDisplay;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 2px;
    color: $font-color-dark;
    margin: 15px auto;
}

.register-para{
    height: 24px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: $font-color-dark;
    margin: 15px auto 30px auto;
}